table.slotDemo td {
    
    /*margin: 12px 12px 12px 12px;*/
    padding: 12px 12px 12px 12px;
    border: 1px solid black;
}
table.slotDemo {
    /*border-collapse: separate;
    border-spacing: 10px;*/
    border: 1px solid black;
}


.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}